#train-schedule {
    margin: 50px;
}

#train-info {
    margin: 50px;
}

#input-form {
    margin: 30px;
}

.card-header {
    font-weight: bold;
}

#header {
    margin: 50px;
    margin-top: 0px;
}

.jumbotron {
    background-color: #7f462c;
}

h1 {
    color: #FFFAFA;
}

.lead {
    color: #FFFAFA;	
    font-style: italic;
}

.card-header {
    background-color: #2c6a7f;
    color: #FFFAFA;	
}